header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.headerpadding{
    padding-top: 50px;
}
.jumbotron{
    background-image: url("../resources/1200.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#jumbotron-text{
    background: rgba(0,100,0,0.9);
}